.wrapper__chat-main

  //上部 グループ名、メンバー概要欄
  .wrapper__chat-main__top
    .wrapper__chat-main__top__group
      .wrapper__chat-main__top__group__name
        = @group.name
      .wrapper__chat-main__top__group__member
        Member:
        - @group.users.each do |user|          
          = user.nickname
    = link_to edit_group_path(@group.id), class: "wrapper__chat-main__top__edit", method: :get do
      Edit

  //中央部 チャット履歴一覧
  .wrapper__chat-main__content
    - @messages.each do |message|
      .wrapper__chat-main__content__message
        .wrapper__chat-main__content__message__info
          .wrapper__chat-main__content__message__info__contributor
            = message.user.nickname
          .wrapper__chat-main__content__message__info__timeline
            = message.created_at
        .wrapper__chat-main__content__message__text
          = message.content
        .wrapper__chat-main__content__message__image
          = image_tag message.image

  //下部 投稿フォーム
  .wrapper__chat-main__message-form
    .wrapper__chat-main__message-form__content
      = form_for [@group, @message], html: { class: "wrapper__chat-main__message-form__content__form"}   do |form|
        .wrapper__chat-main__message-form__content__form__inputs
          = form.text_field  :content, class: "wrapper__chat-main__message-form__content__form__inputs__text"
          = form.label :image, class: "wrapper__chat-main__message-form__content__form__inputs__image" do
            = form.file_field :image, class: "wrapper__chat-main__message-form__content__form__inputs__image__icon"
            = icon('far', 'image') 
        = form.submit 'Send', class: "wrapper__chat-main__message-form__content__form__send"