.wrapper__side-bar
  //サイドバー上部、ユーザー名及びエディット部分
  .wrapper__side-bar__user
    .wrapper__side-bar__user__content
      .wrapper__side-bar__user__content__name
        = current_user.nickname
      .wrapper__side-bar__user__content__edit
        = link_to new_group_path , class: "wrapper__side-bar__user__content__edit__group" do
          = icon('far', 'edit')     
        = link_to edit_user_path(current_user), class: "wrapper__side-bar__user__content__edit__account" do
          = icon('fas', 'cog')   

  //サイドバー下部、グループリスト
  .wrapper__side-bar__group-list
    - @groups.each do |group|
      = link_to group_messages_path(group.id), class:"wrapper__side-bar__group-list--link" do
        .wrapper__side-bar__group-list__group
          .wrapper__side-bar__group-list__group__name
            = group.name
          .wrapper__side-bar__group-list__group__first-comment
            = group.show_last_message
            -# -unless group.messages.empty?
            -#   = group.messages.last[:content]
            -# - else
            -#   投稿はまだありません
